#toggle {
    // left:0;
}

.closebtn {
    color: $white;
    font-size: 4rem;
    font-weight: 500;
    text-decoration: none;
    float: left;
    display: inline-block;
    position: relative;
    position: absolute;
    display: flex;
    align-items: center;
    line-height: 0;

    span {
        color: #fff;
        vertical-align: middle;
        text-transform: uppercase;
        font-weight: 600;
        font-size: $nav-item-font-size;
        letter-spacing: 1px;
        margin-left: 0.3rem;
    }

    @include transition($transition-base);

    &:hover {
        text-decoration: none;

        @include transition($transition-base);

        color: rgba($white, 0.7);
    }
}

.overlay {
    .navbar-brand {
        margin: 0 auto;

        // img {
        //   height:4rem;
        // }
   
    }
}

.overlay {
    position: fixed;
    background: $gray-800;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .1s, visibility .1s, height .1s;

    // overflow: hidden;

    &.open {
        opacity: 1;
        visibility: visible;
        height: 100%;

        li {
            animation: fadeInRight .3s ease forwards;
            animation-delay: .2s;

            &:nth-of-type(2) {
                animation-delay: .2s;
            }

            &:nth-of-type(3) {
                animation-delay: .25s;
            }

            &:nth-of-type(4) {
                animation-delay: .2s;
            }
        }
    }

    nav {
        margin-top: 3rem;
        font-size: 1.25rem;
        font-weight: 400;
        text-align: center;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;

        // display: inline-block;

        position: relative;
        height: 100%;

        li {
            display: block;
            margin-bottom: 2rem;
            position: relative;
            opacity: 0;
            &.active,
            &.current-menu-item {
                a {
                    font-weight: bold;
                }
            }
            &.border-bottom {
                padding-bottom:1rem;
            }

            &.lang-item {
                display: inline-block;
                a {
                    &.active {
                        font-weight: bold;
                    }
                }
                &:first-child {
                    margin-right: 2rem;
                }
            }

            a {
                display: inline-block;
                position: relative;
                color: $white;
                text-decoration: none;
                overflow: hidden;

                &:hover:after,
                &:focus:after,
                &:active:after {
                    width: 100%;
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0%;
                    transform: translateX(-50%);
                    height: 3px;
                    background: $white;
                    transition: .35s;
                }
            }
        }
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@include media-breakpoint-down(md) {
    .overlay {
        nav {
            font-size: 1.25rem;
        }
    }
}