/* Bootstrap theme customized with Pinegrow Web Editor */
/* Vars go before the @import */
/* Import the Bootstrap files */

// Brand Colors
$blue: #00B4DF;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fbb325;
$yellow: #f8ec00;
$green: #00aa2d;
$teal: #20c997;
$cyan: #40b7fd;
$white: #fff;
$gray-100: #f6f8ff;
$gray-200: #E2EEFF;
$gray-300: #dee2e6;
$gray-400: #DBDBDB;
$gray-500: #c3c6cf;
$gray-600: #989eb2;
$gray-700: #495057;
$gray-800: #0B1A34;
$gray-900: #353535;
$gray-1000: #151C26;
$gray-1100: #2A3748;


$blue-light: #01E3FB;
$blue2:      #40B7FD;
$cyan2:      #2DE8FC;
$light2:     #F3F3F3;




$box-shadow: #00255A;

$grays: ();
// stylelint-disable-next-line scss/dollar-variabl
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$colors: ();
// stylelint-disable-next-line scss/dollar-variabl
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-900,
    "blue-light": $blue-light
  ),
  $colors
);

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;
$text-muted:    $gray-500;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variabl
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "orange":     $orange,
    "yellow":     $yellow,
    "white":      $white,
    "gray-dark":  $gray-900,
    "gray-dark-2": $gray-1100,
    "gray-light": $gray-200,
    "blue-light": $blue-light,
    "blue2":      $blue2
  ),
  $theme-colors
);




$spacer: 1rem;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 6)
  ),
  $spacers
);


$font-size-base:                    1rem;
$font-family-sans-serif:            'font' ,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-weight-base:                  100;
$body-color:                        $gray-800;

$enable-shadows:                    true;

$headings-font-weight:              bold;
$headings-color:                    $gray-900;
$headings-line-height:              1.5;
$h1-font-size:                      $font-size-base * 3.75;

$font-size-lg:                      $font-size-base * 1.125;
$enable-responsive-font-sizes:      true;


$navbar-light-color:                $gray-900;
$navbar-light-hover-color:          $primary;
$navbar-light-active-color:         $primary;
$navbar-nav-link-padding-x:         1.25rem;
$nav-link-padding-x:                2rem;
$nav-item-font-size:                0.75rem;


$nav-link-padding-y:                1rem;

$link-decoration:                   text-underline;


$dropdown-font-size:                $nav-item-font-size;

$border-color:                      $gray-400;
$border-radius:                     0px;
$border-radius-lg:                  0px;
$border-radius-sm:                  0px;


$btn-border-radius:                 $border-radius;
$btn-border-radius-lg:              $border-radius-lg;
$btn-border-radius-sm:              $border-radius-sm;
$btn-font-weight:                   bold;


$navbar-padding-y:                  1rem;
$navbar-light-toggler-border-color:  transparent;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$primary}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.8' d='M5,7h20 M2,15h26 M5,23h20'/></svg>");


// Buttons

$input-btn-padding-y:               0.8rem;
$input-btn-padding-x:               2.5rem;
$btn-box-shadow:                    0 0 5px rgba($gray-600, 0.8);

$input-btn-padding-y-lg:            .875rem;
$input-btn-border-width:            1px;
$input-btn-padding-x-sm:            2.5rem;
$input-btn-padding-y-sm:            0.2rem;
$input-btn-font-size-sm:            0.756rem;

// Box Shadow

$card-border-color:                 $gray-300;

$box-shadow-sm:               0 .1875rem .625rem rgba($box-shadow, .15);
$box-shadow:                  0 .3125rem 1.875rem rgba($box-shadow, .10);

// Heading 

$h-sup-font-size:             $font-size-base * 0.875;
$h6-font-size:                $font-size-base * 1.125;
// Icons

$input-box-shadow:                      0;
$input-color:                           $gray-800;
$input-border-color:                    $gray-800;
$input-placeholder-color:               $gray-800;
$input-group-addon-color:               $gray-800;
$input-group-addon-bg:                  transparent;
$input-group-addon-border-color:        transparent;
$input-bg:                              transparent;


$icomoon-font-family: "icons";
$icomoon-font-path: "../fonts/icons";

$icon-address: "\e900";
$icon-calendar: "\e901";
$icon-cv: "\e902";
$icon-document: "\e903";
$icon-mail: "\e904";
$icon-message: "\e905";
$icon-phone: "\e906";
$icon-pin: "\e907";
$icon-play: "\e908";
$icon-play-filled: "\e909";
$icon-subject: "\e90a";
$icon-user: "\e90b";


@import "bootstrap/scss/bootstrap";
@import "icons";
@import "fonts";
@import "overlay";



.site-header {
    padding:0 5rem;
    margin-top:1rem;
    z-index: 1;
    & > div {
        position: relative;
    }
    .dropdown-menu {
        min-width: 4rem;
    }
    .dropdown {
        position: absolute;
        right: 0;
        font-weight: 600;
        font-size:$nav-item-font-size;
       & >  a {

            color:$white;
            padding:0;
        }

        a {
            text-transform: uppercase;
        }
    }

}
.sect-content {
    padding: 2.5rem 5rem;
}

.container-fluid {
    padding:0;
}

.dropdown-item {
    font-weight: 600;
}

img {
    margin-top:-1px;
}

.no-guuter
img {
    object-fit:cover;
}

.navbar-brand {
    margin-right: 0;
    width: 12rem;
    height: auto;
  
    img {
        width:100%;
        height: auto;
    }
}

.navbar-toggler {
    position:absolute;
    padding:0;
    left:0;
     @include transition($transition-base);
img {
    width:2rem;
    height: auto;
}
    span {
        color:$white;
        text-transform: uppercase;
        font-weight: 600;
        font-size:$nav-item-font-size;
        letter-spacing: 1px;
        margin-left:0.3rem;
    }

    &:hover {
        opacity:0.8;
        @include transition($transition-base);
    }

}


.play-video {
    position: absolute;
    left:auto;
    right: auto;
    top:auto;
    bottom:auto;
    width: 25%;
    height: auto;
    max-width: 240px;
    display: block;
    opacity:1;
    @include transition($transition-base);
    &:hover {
        opacity:0.9;
        @include transition($transition-base);
    }
    img {
        width: 100%;
    }
}
h1 {
    font-weight: lighter;
    letter-spacing: 2px;
    word-break: break-all;

    span {
        font-weight: bold;
        word-break: break-word;
    }
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.2;
}

h2,h3,h4,h5,h6:not(footer h1,h2,h3,h4,h5,h6) {
    &:after {
        content:"";
        width: 2rem;
        height: 0.5rem;
        background-color:$primary;
        display: block;
    }
}

.sect-1 {
    h1 {
        margin-bottom:1.5rem;
        margin-top: 5rem;
    
        & + p {
            margin-bottom:2rem;
            font-weight: normal;
        }
    }


}

section {
    h2,h3,h4,h5,h6 {
        margin-bottom:2rem;
    }
}

.btn {
    text-transform: uppercase;
    i {
        font-size: 1.5rem;
    }
}

.bg-dark {
    color:$white;

    .sect-title {
        color:$white;
    }
}

.sect-4-bg {
    background-image: url(../images/png/p1-img4.png);
    background-size:cover;
}


/*Background Weels*/

.bg-wheel-right-p1 {
    background-image: url(../images/png/bg-1-half.png);
    //background-position: right -200px bottom 0px;
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-wheel-left-p1 {
    background-image: url(../images/png/bg-2-half.png);
    //background-position: left -200px bottom 0px;
    background-position: left;
    background-size: 20vh;
    background-repeat: no-repeat;
}

.bg-wheel-top-p2 {
    background-image: url(../images/png/bg-2-top.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 50vh;
    
}

.bg-wheel-left-p2 {
    background-image: url(../images/png/bg-1-half-rot.png);
    //background-position: right -200px bottom 0px;
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-dark {
    &.bg-wheel-left-p2 {
        background-image: none;
        position:relative;
            &:after {
            content:"";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left:0;
            top:0;
            right: 0;
            bottom: 0;    
            background-image: url(../images/png/bg-1-half-rot.png);
            background-position: left top;
            background-size: contain;
            background-repeat: no-repeat;
            opacity:0.1;
            }
        }
}

.bg-wheel-right-p2 {
    background-image: url(../images/svg/bg-2.svg);
    background-position: right -200px bottom 0px;
    background-repeat: no-repeat;
}

.bg-wheel-right-p3 {
    background-image: url(../images/svg/bg-1.svg);
    background-position: right -200px bottom 0px;
    background-repeat: no-repeat;
    
}


.form-control {
    border-width:0 0 1px 0;
    padding-left:1rem;
    padding-right: 1rem;
}

.bg-dark {
    .input-group {
        .icon {
            color:$white;
        }
    }
    .form-control {
        color:$white;
        border-color:$white;

        &:focus {
            border-color:$primary;
        }
    }

    ::-webkit-input-placeholder {
      color:$white;
    }

    :-moz-placeholder { /* Firefox 18- */
         color:$white;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
         color:$white;
    }

    :-ms-input-placeholder {
         color:$white;
    }    

}


::-webkit-input-placeholder {
  font-weight: 400;
}

:-moz-placeholder { /* Firefox 18- */
     font-weight: 400;
}

::-moz-placeholder {  /* Firefox 19+ */
     font-weight: 400;
}

:-ms-input-placeholder {
     font-weight: 400;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content:none;
}

.custom-file-label {
     border-width: 0;
    padding-left:1rem;
    padding-right: 1rem;
    font-weight: 400;
}

.custom-control-label {
    font-weight: 400;
}

.input-group-text {
    font-size:2rem;
    padding-left:0;
    padding-right: 1rem;
}




footer {
    padding-top:3rem;
    hr {
        width: 50%;
    }
}



@include media-breakpoint-down(md) {
    .sect-content {
    padding: 5rem 1rem;
    }

    .site-header {
        padding:0 1rem;
    }

    .navbar-brand {
        width:8rem;
    }

} 


@include media-breakpoint-down(sm) {

    .navbar-toggler,
    .closebtn {
        span {
            display: none;
        }
                
    }



footer {
    hr {
        width: 100%;
    }
}
    
//    .bg-wheel-right-p1 {
//        background-image: none;
//    }
//    
//    .bg-wheel-left-p1 {
//        background-image: none;
//    }
//    
//    .bg-wheel-top-p2 {
//        background-image: none;
//    }
//    
//    .bg-wheel-left-p2 {
//        background-image: none;
//    }
    
    .sect-1 h1 {
        margin-top: 0;
    }

}




.index {
    z-index: 1;
}










